/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #EEB232 !default;
$assertive:                       #565D6C !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;


.scroll{
  height:none;
}
.independent{

}
.pane{
	background-color: #f1f1f1 !important;
}
.mWidth{
	max-width: 500px !important;
	margin: 0 auto;
}
.pGraphic{
	display:block;
	float:right;
	width:150px;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=85);
  /* Netscape */
  -moz-opacity: 0.85;
  /* Safari 1.x */
  -khtml-opacity: 0.85;
  /* Good browsers */
  opacity: 0.85;
}
.counter{
  position: absolute;
  top:20px;
  left:18px;
  font-weight: 700;
  color:#555;
  font-size: 16px;
}
.qHeader{
  font-size: 24px;
}
.scroll{
  height:90% !important;
}

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

