<ion-view view-title="Login">
  <ion-content>

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="StrongPassword93@17&">
      </label>
    </div>
    <div class="bar bar-footer bar-balanced">
      <div class="title">Login</div>
    </div>
  </ion-content>
</ion-view>
