<ion-side-menus enable-menu-with-back-views="false">
 <base href="/">
  <!-- CONTENT -->
  <ion-side-menu-content>

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-assertive">
      <!-- back button, shown if applicable -->

      <!-- nav button, shown if applicable -->
    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"></ion-nav-view>

  </ion-side-menu-content>

</ion-side-menus>

