<ion-view view-title="GraphWhy">
  <ion-content class="mWidth">

    <div class="list card">

      <div class="item ">
        <center>
          <h1 class="qHeader">US National Debt Survey</h1>
          <p>Up to Us, De Anza</p>
        </center>
      </div>

      <div class="item item-body">
        <p>
          The results of this survey will be shared with activists, students, teachers, and politicians. In order to improve understanding of how  De Anza students feel about the US national Debt. The survey results will be presented at the end of the survey.
        </p>
        <br/>
        <p>By signing up, I agree to GraphWhy's <a href="/pptou">Terms of Use</a> & <a href="/pptou">Privacy Policy</a></p>
      </div>
    </div>
    </div>
    <div class="bar-footer">
      <a ng-click="loginFB()" class="button button-full icon-right ion-chevron-right button-energized"><b>Take the survey</b></a>
    </div>
  </ion-content>
</ion-view>


