<ion-view view-title="GraphWhy">
  <ion-content class="mWidth">

    <div class="list card">

      <div class="item ">
        <center>
          <h1 class="qHeader">US National Debt Survey</h1>
          <p>Up to Us, De Anza</p>
        </center>
      </div>

      <div class="item item-body">
        <p>
          The survey results will be shared with activists, students, teachers, and politicians understand of how  De Anza students feel about the US national Debt. Survey results are available at the end of the survey.
        </p>
        <br/>
        <p>By signing up, I agree to GraphWhy's <a href="/TermsOfUsePrivacyPolicy.html">Terms of Use</a> & <a href="/TermsOfUsePrivacyPolicy.html">Privacy Policy</a></p>
      </div>
    </div>
    </div>
    <div class="bar-footer">
      <a ng-click="loginFB()" class="button button-full icon-right ion-chevron-right button-energized"><b>Take the survey</b></a>
    </div>
  </ion-content>
</ion-view>


