<ion-view view-title="GraphWhy">
  <ion-content class="mWidth">

    <div class="list card">

      <div class="item ">
        <center>
          <h2>US National Debt Survey</h2>
          <p>Up to Us, De Anza</p>
        </center>
      </div>

      <div class="item item-body">
        <p>
          Help activist, students, teachers, and politicians gain an understanding of how you and your fellow De Anza students feel about the US national Debt. The information gathered in this survey is avaiblabe to the public, your personal information is not.
        </p>
        <br/>
        <img src="main/assets/images/wedcat1c.png" width="200px;" style="display:block;float:right;"/>
      </div>
    </div>

 

    </div>
    <div class="bar-footer">
      <a ng-click="loginFB()" class="button button-full icon-right ion-chevron-right button-energized"><b>Take the survey</b></a>
    </div>
  </ion-content>
</ion-view>


