<ion-view view-title="US National Debt">
  <ion-content>

    <!-- content goes here -->
    <ion-list class="">
      <ion-item
        class="item-remove-animate item-avatar item-text-wrap"
        type="item-text-wrap"
        ui-sref="main.listDetail">
        {{counter-1}}
        <h2>{{question.title}}</h2>
      </ion-item>

      <ion-list class="list list-inset">
        <ion-radio ng-model="choice" ng-value="'A'" 
        ng-repeat="v in question.options"
        ui-sref="main.question({id:'graphwhy',qnum:counter})"
        ui-sref-opts="{reload: true}"
        >{{v}}</ion-radio>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>

