<ion-view view-title="Questions">
  <ion-content>

    <!-- content goes here -->
    <ion-list>
      <ion-item
        class="item-remove-animate item-avatar item-icon-right item-icon-left"
        type="item-text-wrap"
        ui-sref="main.listDetail">
        <i class="icon ion-checkmark"></i>
        <h2>Green party question list</h2>
        <p>sponsored by Green Party</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-remove-animate item-avatar item-icon-right item-icon-left"
        type="item-text-wrap"
        ui-sref="main.listDetail">
        <i class="icon ion-minus"></i>
        <h2>Republican party question list</h2>
        <p>sponsored by Republican Party</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-remove-animate item-avatar item-icon-right item-icon-left"
        type="item-text-wrap"
        ui-sref="main.listDetail">
        <i class="icon ion-minus"></i>
        <h2>Republican party question list</h2>
        <p>sponsored by Republican Party</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-remove-animate item-avatar item-icon-right item-icon-left"
        type="item-text-wrap"
        ui-sref="main.listDetail">
        <i class="icon ion-minus"></i>
        <h2>Republican party question list</h2>
        <p>sponsored by Republican Party</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-remove-animate item-avatar item-icon-right item-icon-left"
        type="item-text-wrap"
        ui-sref="main.listDetail">
        <i class="icon ion-minus"></i>
        <h2>Republican party question list</h2>
        <p>sponsored by Republican Party</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
