<ion-view view-title="Questions">
  <ion-content>

    <!-- content goes here -->
    <ion-list>
      <ion-item
        class="item-remove-animate item-avatar item-icon-right item-icon-left"
        type="item-text-wrap"
        ui-sref="main.question({id:v.id})" ng-repeat="v in questions">
        <i ng-hide="v.finished" class="icon ion-minus"></i>
        <i ng-show="v.finished" class="icon ion-checkmark"></i>
        <h2>{{v.title}}</h2>
        <p>{{v.description}}</p>
        <i  class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    test <br/>
    email: {{ email }}
  </ion-content>
</ion-view>
