<ion-view view-title="Sign up">
  <ion-content>

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="John">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Suhr">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="StrongPassword93@17&">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Confirm Password</span>
        <input type="password" placeholder="StrongPassword93@17&">
      </label>
      <button class="button button-block button-positive">
        Sign Up
      </button>
    </div>

  </ion-content>
</ion-view>
